@import "tailwindcss";
@theme {
  --color-naija-yellow: #ffcd39;
}

.card{
  @apply bg-white rounded-2xl overflow-hidden shadow-md relative hover:shadow-2xl;
}

/* .sighting-text-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(to bottom, transparent, #fff);
  pointer-events: none;
  transition: opacity 0.2s ease;
}

/* Hide the gradient when expanded */
/* .sighting-card.expanded .sighting-text-wrapper::after {
  opacity: 0;
} */

/* Show all lines when expanded */
/* .sighting-card.expanded .sighting-text {
  -webkit-line-clamp: unset !important;
  line-clamp: unset !important;
  overflow: visible;
  display: block;
  max-height: none;
} */

/* .sighting-text-wrapper {
  transition: max-height 0.3s ease;
  max-height: 8.4em;
} */

.comment-text.expanded {
   -webkit-line-clamp: unset !important;
  line-clamp: unset !important;
}
